/* You can add global styles to this file, and also import other style files */

/* Global Styles */
@@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

html,
body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

h1,h2,h3,h4,h5{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}
a{
    color: #F5D328;
}

.img-portfolio {
    margin-bottom: 30px;
}
.img-hover:hover {
    opacity: 0.8;
}

.panel {
    -webkit-box-shadow: 0 0px 0px rgba(0,0,0,0);
    box-shadow: 0 0px 0px rgba(0,0,0,0);
}
.panel-default{
    border: none;
}
.panel-default .panel-heading{
    background-color: white;
}
.panel-default .panel-heading i{
    color: black;
}
.panel-default .panel-heading h4{
    color:black;
}

/* 404 Page Styles */

.error-404 {
    font-size: 100px;
}

/* Responsive Styles */

@media(max-width:991px) {
    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }
}

@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }
}