.image{
    height: 25em;
    width: auto;
    background-size: cover;
    background-image: url('/assets/images/banner1.jpg');
    background-position: 50% 50%;
}

/* Responsive Styles */
@media(max-width:767px) {
    .img-portfolio {
        margin-bottom: 15px;
    }

    header.carousel .carousel {
        height: 70%;
    }
}