  <!-- Home-page -->

    <!-- /.main-Banner -->  
    <div class="row">
        <div class="image"></div>
    </div>
    <!-- /.main-Banner -->  
    
<!-- Home-page-content -->
<div class="home-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Bienvenidos
                </h1>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-industry"></i> Proyecto industrial 2017</h4>
                    </div>
                    <div class="panel-body">
                        <a routerLink="/proyecto-industrial" routerLinkActive="active"><img class="img-responsive img-portfolio img-hover" src="assets/images/industria_1.png" alt="">
                        <h4>Proyecto industrial 2017</h4></a>
                        <p>Queremos ampliar operaciones y capacidad de producción mediante nuestro proyecto industrial para asegurar productos de alta calidad con sello "Hecho en Venezuela".</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-heartbeat"></i> Alimentacion y bienestar</h4>
                    </div>
                    <div class="panel-body">
                        <a routerLink="/blog-post" routerLinkActive="active"><img class="img-responsive img-portfolio img-hover" src="assets/images/alimentacion_1.jpg" alt="">
                        <h4>Los beneficios de consumir avena diariamente</h4></a>
                        <p>El consumo habitual de avena ayuda a disminuir los niveles de colesterol y azúcar en sangre. Además, gracias a sus fitoquímicos, nos protege contra el cáncer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- /.Home-page-content -->

  <!-- /.Home-page -->