<div class="container">    
    <!-- Page Heading/Breadcrumbs -->
      <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-center">Los beneficios de consumir avena diariamente</h1>
            <ol class="breadcrumb">
                <li><a routerLink="" routerLinkActive="active">Inicio</a>
                </li>
                <li class="active">Alimentacion y bienestar</li>
            </ol>
        </div>
      </div>
      <!-- /.row -->

      <!-- Content Row -->
      <div class="row">

          <!-- Blog Post Content Column -->
          <div class="col-lg-offset-2 col-lg-8 col-lg-offset-2">

              <!-- Blog Post -->

              <hr>

              <!-- Date/Time -->
              <p><i class="fa fa-clock-o"></i> Publicado el 12 de Agosto del 2016 a las 11:00 AM</p>

              <hr>

              <!-- Preview Image -->
              <img class="img-responsive" src="assets/images/alimentacion_1.jpg" alt="">

              <hr>

              <!-- Post Content -->
              <p class="lead">El consumo habitual de avena ayuda a disminuir los niveles de colesterol y azúcar en sangre. Además, gracias a sus fitoquímicos, nos protege contra el cáncer.</p>
              <p>Todos sabemos que el desayuno es la comida más importante del día, porque permite que salgamos a la calle con todas las energías y afrontemos la jornada de la mejor manera. ¿Te has puesto a pensar alguna vez porque siempre se aconseja añadir la avena a la primera colación de la mañana? En el siguiente artículo lo sabrás.</p>
              <p><span style="font-family: 'OpenSansBold';">Los beneficios de la avena más destacados</span></p>
              <ul>
                  <li><span style="font-family: 'OpenSansBold';">Es depurativa:</span> gracias a la gran cantidad de aminoácidos que contiene, estimula la producción de lecitina en el hígado, favoreciendo a la depuración completa de las toxinas del organismo. Consumir avena es bueno para limpiar las paredes de las arterias, ya que la fibra va “barriendo” los depósitos de grasa que se van acumulando en ellas y que puede generar muchos problemas cardíacos, colesterol, entre otros.</li>
                  <li><span style="font-family: 'OpenSansBold';">Ayuda a controlar los niveles de azúcar en la sangre:</span> esto es una excelente noticia para los que padecen diabetes. Sin dudas la tienen que añadir a su dieta, para mejorar la digestión del almidón y mantener estables el nivel de glicemia, sobre todo después de comer.</li>
                  <li><span style="font-family: 'OpenSansBold';">Mejora la digestión:</span> si tienes problemas cuando almuerzas o cenas, la avena contribuye a reducir los ácidos biliares, facilitando a su vez el tránsito intestinal y evitando el estreñimiento. A ser rica en hidratos de carbono de absorción lenta mantienen la sensación de saciedad por más horas, siendo una buena alternativa para los que están haciendo dieta, porque les quita las ganas de comer a cada rato.</li>
                  <li><span style="font-family: 'OpenSansBold';">Tiene proteínas de gran valor:</span> en total son 8 los aminoácidos esenciales de la avena, lo que la convierten en una fuente de proteínas de gran valor biológico. Esta cualidad permite formar tejidos nuevos en el cuerpo.</li>
                  <li><span style="font-family: 'OpenSansBold';">Es anticancerígena:</span> varios son los estudios que se han realizado en Estados Unidos sobre las propiedades de la avena como un arma de protección contra el cáncer, una enfermedad cada vez más habitual en este país y en mucho otros. Esto se debe a los fitoquímicos que contiene. Se aconseja entonces consumir avena todos los días, para reducir en más del 10% la posibilidad de padecer cáncer de mama o de colon.</li>
                  <li><span style="font-family: 'OpenSansBold';">Es buena para el corazón:</span> la razón es la gran cantidad de ácidos omega 3 y linoleicos, conocidos como “grasas buenas”, que ayudan a reducir el colesterol malo (LDL), favoreciendo las actividades en el corazón y en el cerebro.</li>
                  <li><span style="font-family: 'OpenSansBold';">Ayuda al sistema nervioso central:</span> gracias a las vitaminas del complejo B que contiene la avena, desarrolla, mantiene y equilibra el funcionamiento del sistema nervioso.</li>
                  <li><span style="font-family: 'OpenSansBold';">Previene los problemas de tiroides:</span> sobre todo el hipotiroidismo, al contener yodo, un mineral que ayuda a que la glándula relacionada funcione de manera correcta.</li>
                  <li><span style="font-family: 'OpenSansBold';">Previene la osteoporosis:</span> debido a que cuenta con los niveles de calcio necesarios para una buena salud ósea, evitando la desmineralización.</li>
                  <li><span style="font-family: 'OpenSansBold';">Ayuda a bajar de peso:</span> para ello, se debe consumir en ayunas o con el desayuno, junto a leche descremada o de soja, zumo de naranja o frutos secos.</li>
                  <li><span style="font-family: 'OpenSansBold';">Es una de las mejores fuentes de energía que existen,</span> por lo que se recomienda consumir a primera hora de la mañana o antes del mediodía, sobre todo para aquellos que trabajan muchas horas fuera de casa o tienen que estudiar para un examen.</li>
                  <li><span style="font-family: 'OpenSansBold';">Es una gran aliada en los tratamientos de belleza:</span> las propiedades de la avena no se aprovechan sólo al ingerirla. También se puede usar de manera tópica (externa) para una rutina estética. Por ejemplo, mezclada con crema hidratante se convierte en un exfoliante para el rostro realmente maravilloso y es mucho más económico que cualquier otro tratamiento de belleza.</li>
              </ul>

          </div>

      </div>
      <!-- /.row -->
</div>