<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Somos La Blanda Val
            <small>Te invitamos a conocernos</small>
        </h1>
        <ol class="breadcrumb">
            <li><a routerLink="" routerLinkActive="active">Inicio</a>
            </li>
            <li class="active">Quienes somos</li>
        </ol>
    </div>
    </div>
    <!-- /.row -->

    <!-- Intro Content -->
    <div div="row" style="border-bottom: 3px solid #F5D328;margin-bottom: 15px;">
    <div class="container">
        <img class="col-xs-offset-2 col-xs-8" src="/assets/images/quienesomos3.jpg" alt="">
    </div>
    </div>
    <div class="row" style="margin-bottom:30px;">
    <div class="col-md-6">
        <h2>Sobre LBV</h2>
        <p>Somos una empresa de alimentos con 15 años de experiencia, ofreciendo a los venezolanos productos nutritivos y saludables.</p>
        <p>En La Blanda Val nos encargamos de las actividades operativas y compromisos administrativos que implica la comercialización de nuestras marcas, bien sea en la importación de la materia prima, procesamiento y distribución de los productos, por lo que trabajamos con mucho entusiasmo para que lleguen de manera satisfactoria a los consumidores finales.</p>
        <p>Por lo tanto, esperamos que el fruto de nuestro esfuerzo se vea reflejado en el consumo preferencial de nuestros productos, por ser de calidad y beneficiosos para la salud, ya que de esta manera agregamos valor a la vida de las personas.</p>
    </div>
    <div class="col-md-6">
        <h2>Nuestros inicios</h2>
        <p>Nuestros inicios fueron en la ciudad de Barquisimeto estado Lara, como una comercializadora de granos con la visión de algún día convertirnos en una empresa industrial procesadora de alimentos.</p>
        <p>En busca de ese sueño, en el año 2003 nos consolidamos como La Blanda Val, C.A iniciando labores de importación, empaquetado y comercialización de cereales, granos, leguminosas ,mercancía seca y víveres en general; para así trasladándonos hasta ciudad industrial de Valencia con el propósito de expandir nuestros horizontes.</p>
        <p>Actualmente con la madurez y experiencia suficiente, decidimos iniciar nuestro proyecto industrial el cual consiste en una planta procesadora de granos de avena y trigo para expandir de la producción, al igual que en la optimización de nuestros procesos y organización. con el cual esperamos mejorar la calidad y aumentar nuestra participación en el mercado, para así encaminarnos al liderazgo comercial de nuestro rubro.</p>
    </div>
    </div>
    <!-- /.row -->
</div>