<!-- Footer-Component -->
<footer>
  <div class="container">
      <div class="row">
          <!-- Contact Details Column -->
          <div class="col-sx-4 col-sm-4 col-md-4">
              <h2>La Blanda Val</h2>
              <p>Somos una empresa de alimentos con 15 años de experiencia, ofreciendo a los venezolanos productos nutritivos y saludables.</p>
              <p>Derecho del autor © La Blanda Val, C.A. 2016</p>
          </div>
          <div class="col-sx-4 col-sm-4 col-md-4 col-md-offset-1">
              <h3>Informacion de contacto</h3>
              <p>
                  Av Principal Lote T Galpon Nro 19-A Urb. Industrial Carabobo, Valencia, Edo. Carabobo 2001, Venezuela.<br>
              </p>
              <p><i class="fa fa-phone"></i> 
                  <abbr title="Phone">P</abbr>: +58 (241) 834-2332</p>
              <p><i class="fa fa-clock-o"></i> 
                  <abbr title="Hours">H</abbr>: Lunes - Viernes: 7:30 AM hasta 4:30 PM</p>
              <ul class="list-unstyled list-inline list-social-icons">
                  <li>
                      <a href="#"><i class="fa fa-facebook-square fa-2x"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-twitter-square fa-2x"></i></a>
                  </li>
                  <li>
                      <a href="#"><i class="fa fa-google-plus-square fa-2x"></i></a>
                  </li>
              </ul>
          </div>
          <div class="col-sx-3 col-sm-3 col-md-3">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3927.0943831814598!2d-67.97633988592199!3d10.172983372824815!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8067c0f7cd02e1%3A0xc8f3c7ae98599f0a!2sLa+Blanda+Val!5e0!3m2!1sen!2ses!4v1481743358157" width="204" height="219" frameborder="0" style="border:0" allowfullscreen></iframe>
              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d788.7435404794254!2d-67.97497617086616!3d10.172598319568964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDEwJzIxLjQiTiA2N8KwNTgnMjcuOSJX!5e1!3m2!1sen!2ses!4v1481035819461" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>-->
          </div>
      </div>
  </div>        
</footer>
