 <!-- Page Heading/Breadcrumbs -->
<div class="container">
    <div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Nuestras Marcas </h1>
        <ol class="breadcrumb">
            <li><a routerLink="" routerLinkActive="active">Inicio</a></li>
            <li class="active">Nuestras marcas</li>
        </ol>
    </div>
    </div>
    <!-- /.row -->

    <!-- Service Panels -->
    <div class="row">
    <div class="col-lg-12" style="margin-bottom:50px;">
        <p class="text-center" style="font-size: 24px;">Para nosotros es importante cubrir las distintas demandas del mercado alimenticio, ofreciendo variedad en los productos que comercializamos. Es por ello que le invitamos a conocer mas de cerca nuestras marcas.</p>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <img src="assets/images/logo_vizcaya.png" alt="" style="width: 50%;">
            </div>
            <div class="panel-body">
                <h4>Alimentos Vizcaya</h4>
                <p>Es el principal sello comercial, que nos ha representado desde nuestros inicios; por medio de esta marca hemos dado a conocer toda nuestra linea de cerales, granos, leguminozas y modificadores de leche.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default text-center">
            <div class="panel-heading">
                <img src="assets/images/chanita.jpg" alt="" style="width: 37%;">
            </div>
            <div class="panel-body">
                <h4>La Chanita</h4>
                <p>Es una marca enfocada en la comercializacion de alimentos del mar, tales como atun, jurel y sardinas.</p>
            </div>
        </div>
    </div>
    </div>
</div>