<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Visión, misión y valores.<br>
                <small>Filosofía y creencias que nos conducen como equipo.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a routerLink="" routerLinkActive="active">Inicio</a>
                </li>
                <li class="active">Visión, misión y valores</li>
            </ol>
        </div>
    </div>
    <!-- /.Page Heading/Breadcrumbs -->
    
    <!-- Vision -->
    <div class="row" *ngFor="let vision of vision">
        <div class="col-md-6">
            <a routerLink="/proyecto-industrial" routerLinkActive="active">
                <img class="img-responsive img-hover" src="{{ vision.img }}" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <h2>{{vision.title}}</h2>
            <h4>{{vision.subtitle}}</h4>
            <p>"{{vision.desc}}"</p>
            <p>{{vision.info}}</p>
            <a class="btn btn-primary" routerLink="/proyecto-industrial" routerLinkActive="active">Ver proyecto</a>
        </div>
    </div>
    <!-- /.Vision -->

    <!-- Mision -->
    <div class="row">
        <div class="panel panel-default" *ngFor="let mision of mision">
            <div class="panel-heading">
                <h2>{{mision.title}}</h2>
            </div>
            <div class="panel-body">
                <blockquote class="blockquote">
                    <h3 class="mb-0">"{{mision.desc}}"</h3>
                </blockquote>
            </div>
        </div>
    </div>
    <!-- /.Mision -->

    <!-- Valores -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><h2>Valores</h2></div>
            <div class="panel-body">
                <div *ngFor="let valor of valores" class="col-xs col-sm-4 col-md-4 col-lg-4">
                    <h4>{{ valor.name }}</h4>
                    <p>{{ valor.desc }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.valores -->

</div>