<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Visión, misión y valores.<br>
                <small>Filosofía y creencias que nos conducen como equipo.</small>
            </h1>
            <ol class="breadcrumb">
                <li><a routerLink="" routerLinkActive="active">Inicio</a>
                </li>
                <li class="active">Visión, misión y valores.</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    
    <!-- Vision -->
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/proyecto-industrial" routerLinkActive="active">
                <img class="img-responsive img-hover" src="assets/images/industria_1.png" alt="">
            </a>
        </div>
        <div class="col-md-6">
            <h3>Visión</h3>
            <h4>Hacia donde vamos como empresa.</h4>
            <p style="font-family: 'OpenSansItalic'; font-size: 18px;">""Convertirnos en una industria con mayor capacidad productiva y mayor participación en el mercado para finales del 2017."</p>
            <p>Le invitamos a ver nuestro proyecto de industrialización, donde explicamos con mas detalles nuestro objetivo principal de esta inversión.</p>
            <a class="btn btn-primary" routerLink="/proyecto-industrial" routerLinkActive="active">Ver proyecto</a>
        </div>
    </div>
    <!-- /.row -->

    <!-- Mision -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Misión</h3>
            </div>
            <div class="panel-body">
                <p style="font-family: 'OpenSansItalic'; font-size: 18px;">"Aportar valor al desarrollo social y económico, generando bienestar y crecimiento a nuestro país."</p>
            </div>
        </div>
    </div>

    <!-- Valores -->
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Valores</h3>
            </div>
            <div class="panel-body">
                <h4>Trabajo en equipo</h4>
                <p>Nos permite llevar a cabo los objetivos trazados por la organización con la mejor energía posible, donde el capital humano se integra para consolidar el compañerismo, solidaridad y comunicación asertiva, el cual nos permite actuar como uno solo.</p>
                <br/>
                <h4>Respeto</h4>
                <p>Al obedecer las reglas y normas de la organización, nos permite convivir de manera armoniosa para llegar al éxito de manera eficiente. El respeto nos une, fortalece y nos vuelven mas tolerantes con nuestros compañeros.</p>
                <br/>
                <h4>Responsabilidad</h4>
                <p>Como empresa sentimos que es nuestra labor aportar valor a nuestro entorno social, promoviendo la educación, alimentación sana, hábitos saludables, cuidado del medio ambiente y seguridad.</p>
                
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>